@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Data.Identity;
@inject SignInManager<AppIdentityUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <span>Logged In</span>
    </div>
}
else
{
    <div class="text-center">
    <span>Not Logged In</span>
    </div>
}